* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    all: initial;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
header {
    width: 100%;
    height: 100%;
    padding-bottom: 50%;
}
.menu {
    z-index: 9999999;
    position: relative;
    display: flex;
    justify-content: center;
}
#menu_horizontal ul {
    list-style-type: none;
    padding: 0%;

}
/* #menu_horizontal ul {
    background-color: rgb(153, 15, 15);
} */
#menu_horizontal ul li {
    display: inline;
    position: relative;
}
#menu_horizontal ul li a {
    color: #fff;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    transition: background .6s;
}
#menu_horizontal li a:hover {
    background-color: rgb(206, 78, 134);
}

#menu_horizontal ul ul {
    display: none;
    left: 0;
    position: absolute
    }
#menu_horizontal ul li:hover ul {
    display: block;
    }
#menu_horizontal ul ul {
    width: 200px;
    }
#menu_horizontal ul ul li a {
    display: block;
    }
/* ----Submenu ----*/
#sub-menu-grupos ul ul {
    display: none;
    left: 0;
    position: absolute
    }
#msub-menu-grupos ul li:hover ul {
    display: block;
    }
#sub-menu-grupos ul ul {
    width: 200px;
    }
#sub-menu-grupos ul ul li a {
    display: block;
}

/* ----Video Home ----*/
.video_intro{
    width: 100%;
    position: absolute;
    top: 0;
}

/* ---- Content ---- */
.content {
    width: 100%;
    height: 100%;
    padding-top: 160px;
    padding-bottom: 160px;
    z-index: 2;
    position: relative;
}
.img-qatar img {
    width: 20%;
    z-index: 2;
    position: relative;
}
.img-qatar, .content p{
    display: flex;
    justify-content: center;
}

.title, .texto-qatar{
    width: 60%;
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
    line-height: 45px;
    padding-left: 20%;
    padding-right: 20%;
}

/* ---- Page Estadios ---- */
.box-estadios {
    padding: 60px;
}
.mosaico {
    display: grid;
    grid-template-columns: repeat(8, 2fr);
    grid-auto-rows: 300px;
}
.item-mosaico{
    position: relative;
}
.item-mosaico .img-mosaico {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-mosaico .title-mosaico {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.8);
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 10px;
    font-size: 16px;
}
.item-mosaico p {
    display: none;
}
.title-mosaico:hover {
    font-size: 150%;
    cursor: pointer;
}
.title-mosaico:hover p {
    display: block;
    font-size: 14px;
    padding: 5px;
}
.h-1 {
    grid-row: span 1;
}
.h-2 {
    grid-row: span 2;
}
.w-1 {
    grid-column: span 1;
}
.w-2 {
    grid-column: span 2;
}
.w-4 {
    grid-column: span 4;
}
/* ---- Page Seleçoes ---- */
.box-main-selecao {
    width: 100%;
    height: 100%;
    padding-top: 160px;
}  
.box-main-selecao .container-main {
    background-color: #fff;
    padding: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.box-main-selecao .container-main p {
    width: 70%;
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
    line-height: 45px;
}
.brasil-b {
    color: #256eeb;
}
/* .box-main-selecao .container-main b {
    color: #256eeb;
} */
.img-simbolo {
    width: 14%;
}
/* ---- Page Brasil ---- */
.box-main-brasil {
    width: 100%;
    height: 100%;
}  
.box-main-brasil .container-main {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 4%;
}
.box-main-brasil h2 {
    display: flex;
    justify-content: center;
    color: #fff;
    text-align: center;
    font-size: 50px;
}
.img-destaque {
    width: 80%;
    padding-top: 30px;
}
.box-main-brasil .container-main table {
    width: 30%;
    color: #fff;
    background-color: #256eeb;
    border: 3px solid #ffff00;
    padding: 10px;
    margin-top: 220px;
}
table, td, th {
    border: yellowgreen;
    padding: 20px;
}

/* ---- Page Camaroes ---- */
.box-main-camaroes {
    width: 100%;
    height: 100%;
}  
.box-main-camaroes .container-main {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 4%;
}
.box-main-camaroes h2 {
    display: flex;
    justify-content: center;
    color: #fff;
    text-align: center;
    font-size: 50px;
}
.camarao-b {
    color: #c23a2e;
}
.img-destaque {
    width: 80%;
    padding-top: 30px;
}
.box-main-camaroes .container-main table {
    width: 30%;
    color: #fff;
    background-color: #c23a2e;
    border: 3px solid #ffff00;
    padding: 10px;
    margin-top: 220px;
}
table, td, th {
    padding: 20px;
}

/* ---- Page Marrocos ---- */
.box-main-camaroes {
    width: 100%;
    height: 100%;
}  
.box-main-marrocos .container-main {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 4%;
}
.box-main-marrocos h2 {
    display: flex;
    justify-content: center;
    color: #fff;
    text-align: center;
    font-size: 50px;
}
.marrocos-b {
    color: #cd3232;
}
.img-destaque {
    width: 80%;
    padding-top: 30px;
}
.box-main-marrocos .container-main table {
    width: 30%;
    color: #fff;
    background-color: #30a87f;
    border: 3px solid #fff;
    padding: 10px;
    margin-top: 220px;
}
table, td, th {
    padding: 20px;

}

/* ---- FOOTER ---- */

.fim {
    text-align: center;
    color: #0000004f;
    font-size: 14px;
}

